name: PrivatePackage

on:
  push:
    branches: [main]
    paths: ['pyproject.toml']

permissions:
  contents: read

jobs:
  private-package:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10']

    steps:
    - name: Checkout code
      uses: actions/checkout@v4.2.0

    - name: Set up Python
      uses: actions/setup-python@v5.2.0
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build

    - name: Build package
      run: python -m build

    - name: Publish package
      uses: pypa/gh-action-pypi-publish@v1.10.2
      with:
        repository-url: https://pip.stefanello.cc/
        user: ${{ secrets.PYPI_API_USER_PRIVATE }}
        password: ${{ secrets.PYPI_API_PASS_PRIVATE }}
        skip-existing: true
